{% extends "navegation_menu.html" %}

{% block title %}Logistic Regression App{% endblock %}

{% block content %}

<div class="grades-wrapper">

    <h1>Logistic Regression - Health Predictor</h1>
    <hr style="margin:40px 0;">

    <div class="model-info">

        <h2>How the Model Works</h2>

        <p>
            This application uses a Logistic Regression model to predict whether a patient is likely to be hospitalized
            based on their symptoms and medical conditions, based in the dataset "health_dataset.csv for determining
            the probability of hospitalization of a patient for covid 19".
        </p>

        <p>
            The model considers factors such as age, gender, vaccination status, and symptoms like fever, cough, and
            fatigue,
            as well as pre-existing conditions.
        </p>

        <p>
            It outputs a probability and classifies the patient as high or low risk.
        </p>

    </div>

    <div class="predict-card">

        <form method="post">

            <input type="number" name="age" placeholder="Age" required>

            <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <select name="vaccination_status">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <input type="number" name="fever" placeholder="Fever (0/1)" required>
            <input type="number" name="cough" placeholder="Cough (0/1)" required>
            <input type="number" name="fatigue" placeholder="Fatigue (0/1)" required>
            <input type="number" name="shortness_of_breath" placeholder="Breathing (0/1)" required>
            <input type="number" name="loss_of_smell" placeholder="Loss of Smell (0/1)" required>
            <input type="number" name="headache" placeholder="Headache (0/1)" required>
            <input type="number" name="diabetes" placeholder="Diabetes (0/1)" required>
            <input type="number" name="hypertension" placeholder="Hypertension (0/1)" required>
            <input type="number" name="heart_disease" placeholder="Heart Disease (0/1)" required>
            <input type="number" name="asthma" placeholder="Asthma (0/1)" required>
            <input type="number" name="cancer" placeholder="Cancer (0/1)" required>

            <button type="submit">Predict</button>

        </form>

        {% if result is not none %}
        <div>
            <h2>Prediction: {{ result.prediction }}</h2>
            <p>Probability: {{ (result.probability * 100) | round(2) }}%</p>
        </div>
        {% endif %}

    </div>

</div>

{% endblock %}