{% extends "navegation_menu.html" %}

{% block title %}Logistic Regression App{% endblock %}

{% block content %}

<div class="grades-wrapper">

    <h1>Logistic Regression - Health Predictor</h1>

    <div class="predict-card">

        <form method="post">

            <input type="number" name="age" placeholder="Age" required>

            <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <select name="vaccination_status">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <input type="number" name="fever" placeholder="Fever (0/1)" required>
            <input type="number" name="cough" placeholder="Cough (0/1)" required>
            <input type="number" name="fatigue" placeholder="Fatigue (0/1)" required>
            <input type="number" name="shortness_of_breath" placeholder="Breathing (0/1)" required>
            <input type="number" name="loss_of_smell" placeholder="Loss of Smell (0/1)" required>
            <input type="number" name="headache" placeholder="Headache (0/1)" required>
            <input type="number" name="diabetes" placeholder="Diabetes (0/1)" required>
            <input type="number" name="hypertension" placeholder="Hypertension (0/1)" required>
            <input type="number" name="heart_disease" placeholder="Heart Disease (0/1)" required>
            <input type="number" name="asthma" placeholder="Asthma (0/1)" required>
            <input type="number" name="cancer" placeholder="Cancer (0/1)" required>

            <button type="submit">Predict</button>

        </form>

        {% if result is not none %}
        <div>
            <h2>Prediction: {{ result.prediction }}</h2>
            <p>Probability: {{ (result.probability * 100) | round(2) }}%</p>
        </div>
        {% endif %}

    </div>

</div>

{% endblock %}